/unity/.DS_Store
/unity/Library
/unity/Temp
/unity/obj
/unity/XCode
/unity/Android
/unity/PC
/unity/Web
/unity/Mac
/unity/Linux
/unity/Windows
/unity/ExportedObj
/unity/Assets/NGUI/
/unity/*Data/
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.suo
*.exe
*.zip
unity/Assets/NGUI.meta
